@page
@model RazorTeste.Pages_Orders.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Lista de peditos";
}

<h1>Pedidos</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p><a asp-page="Create">Novo pedido</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor total</th>
                <th>End.Entrega</th>
                <th>Data da pedido</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOrder)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Atualizar</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Visualizar</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        Para acessar essa página você precisa fazer o <a asp-area="Identity" asp-page="/Account/Login">login</a>!
    </div>
}